.securityForm{
    background-color: rgba(23,97,160,0.8);    
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin: 80px;
    padding: 40px;    
}

h2{
    font-family: "esteban";
    font-weight: bold;
    color: white;
}


form{    
    display: block; 
    text-align: center;
    justify-content: center;
    width: auto;
}

form input{
    font-family: "esteban";
    font-size: 13pt;
    color: rgba(19, 37, 51, 0.829);
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 5px 10px;    
}

button{
    font-family: "esteban";
    font-size: 13pt;
    background-color: rgba(19, 37, 51, 1);
    border-color:  rgba(19, 37, 51, 0.8);
    color: white;
    display: inline-block;
    border-radius: 5px;    
    width: 100px;
    height: auto;
    margin: 20px;
    padding: 5px;  
}