@font-face {
	font-family: 'esteban';
	src: url('/assets/fonts/Esteban-Regular.ttf') format('truetype');
}

.navContainer{
	background-color: rgba(19, 37, 51, 0.829);
	margin: 0px;
	width: 100%;
	height: 70px;
	padding: 0px;
	overflow: hidden;
}

.user{
	width: 100%;
	height: 20px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: right;	
}

.user select{
	background-color: rgb(19, 37, 51);
	text-align: center;
	border: none;
	font-family: "esteban";
	font-size: 13pt;
	color: white;
	width: 120px;	
	height: 35px;
	margin: 0px 0px 5px;
	padding: 5px 15px;
	float: right;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.user select option{
	text-align: center;
	font-family: "esteban";
	font-size: 13pt;
	width: auto;
	float: right;
	margin: 0px 10px 5px;
	padding: 6px 15px;
}

.user img{
	text-align: center;
	width: 1px;
	height: 1px;
	float: right;
	margin: 6px 0px 8px;
	padding: 5px;
	cursor: default;
}

.user ul{
	list-style: none;
	text-decoration: none;
	width: auto;
	margin: 8px;
	padding: 0px;
}

.user ul li a{
	color: white;	
	background-color: rgba(23,97,160,1);
	text-decoration: none;	
	font-family: "esteban";
	border-radius: 5px;
	font-size: 14pt;
	height: 100%;
	margin: 0px 10px 5px;
	padding: 6px 15px;
	float: right;
	align-self: center;
	text-align: center;
}

.user ul li a:hover{		
	background-color: rgba(23,97,160,0.6);
	color: white;
	text-decoration: none;		
}

.menu{
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 0px 100px;
	padding: 0px;
}

.menu img{
	text-align: center;
	width: 280px;
	float: left;
	margin: 6px 0px 8px;
	padding: 5px;
	cursor: default;
}

.menu ul{
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.menu ul li a{
	color: white;
	font-family: "esteban";
	font-size: 14pt;
	height: 100%;	
	margin: 15px 5px 0px;
	padding: 0px;
	float: left;
	align-self: center;
	text-align: center;
	text-decoration: none;	
}

.menu ul li a:hover{
	color: #4c96d7;
	text-decoration: none;		
}