@font-face {
	font-family: 'gotham';
	src: url('/assets/fonts/Gotham-Thin.otf') format('truetype');
	font-weight: bold;
	font-style: bold;
}

.navContainer{
	background-color: rgba(19, 37, 51, 0.829);
	margin: 0px;
	width: 100%;
	height: 70px;
	padding: 0px;
	overflow: hidden;
}

.user{
	width: 100%;
	height: 20px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;	
}

.user ul{
	list-style: none;
	text-decoration: none;
	margin: 8px;
	padding: 0px;
}

.user ul li a{
	color: white;	
	background-color: rgba(23,97,160,1);
	text-decoration: none;	
	font-family: "esteban";
	font-size: 12pt;
	height: 100%;
	margin: 0px 10px 5px;
	padding: 5px 10px;
	float: right;
	align-self: center;
	text-align: center;
}

.user ul li a:hover{		
	background-color: rgba(23,97,160,0.6);
	color: white;
	text-decoration: none;		
}

.menu{
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 0px 100px;
	padding: 0px;
}

.menu img{
	text-align: center;
	width: auto;
	float: left;
	margin: 8px 5px 0px;
	padding: 0px;
	cursor: default;
}

.menu ul{
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.menu ul li a{
	color: white;
	font-family: "esteban";
	font-size: 12pt;
	height: 100%;	
	margin: 15px 10px 0px;
	padding: 0px;
	float: left;
	align-self: center;
	text-align: center;
	text-decoration: none;	
}

.menu ul li a:hover{
	color: #4c96d7;
	text-decoration: none;		
}