.registerForm{
    background-color: rgba(23,97,160,0.7);
    margin: 100px;
    padding: 40px;
    text-align: center;
}

.crearr{
    color: white;
    margin: auto;
    padding: auto;
    text-align: center;
}

.formulario{
    text-align: center;
}