.registerForm{
    background-color: rgba(23,97,160,0.7);
    width: 60%;
    height: auto;
    padding: 40px;
    text-align: center;
}

.crearr{
    color: white;
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: Arial;
}

.formulario{
    width:20px;
}

.botoncito{
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}